{% extends "mainApp/wrapper.html" %}

{% block content %}
  <div class="container col-sm-5">
    <form action="{% url 'mails_list_url' %}" method="post">
      {% csrf_token %}
      <div class="form-group col-sm-7">
        <label>Мій e-mail</label>
        {{ form.sender }}
      </div>
      <div class="form-group col-sm-7">
        <label>Пароль</label>
        {{ form.password }}
      </div>
      <div class="form-group col-sm-12">
        {% if form.own_err %}
          <div class="alert alert-danger">
            {{ form.own_err }}
          </div>
        {% endif %}
      </div>
      <div class="form-group col-sm-8">
        <div>
          <button class="btn btn-primary" type="submit">Показати</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
