{% extends "mainApp/wrapper.html" %}

{% block content %}
  <div class="container col-sm-5">
    <form class="form-inline">
      <label class="sr-only" for="inlineFormInputName2">E-mail</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="E-mail">

      <label class="sr-only" for="inlineFormInputName3">Password</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName3" placeholder="Password">

      <a href="{% url 'mails_list_url' sender='donkixot21@outlook.com' %}" class="btn btn-primary mb-2">Показати</a>
    </form>
  </div>
{% endblock %}
