<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SMTP proxy</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
  type="text/css">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Це SMTP proxy і він готовий до роботи))</h1>
      <p>
        <a href="/" class="btn btn-success btn-lg">Головна сторінка</a>
        <a href="/send_mail" class="btn btn-primary btn-lg">Відправити e-mail</a>
        <a href="/view_mail" class="btn btn-info btn-lg">Історія відправлень</a>
      </p>
    </div>
  </div>
  <div class="container">
    <hr>
    &copy; Всі права захищені ;)
  </div>
</body>
</html>
