{% extends "mainApp/wrapper.html" %}

{% block content %}
  <div class="container col-sm-5">
    <form action="{% url 'mail_create_url' %}" method="post">
      {% csrf_token %}
      <h3 class="title">Відправлення e-mail</h3>
      <div class="row">
        <div class="form-group col-sm-7">
          <label for="sender_email_address">Мій e-mail</label>
          {{ form.sender }}
        </div>
        <div class="form-group col-sm-5">
          <label for="passw">Пароль</label>
          {{ form.password }}
        </div>
        <div class="form-group col-sm-7">
          <label for="receiver">Отримувач</label>
          {{ form.receiver }}
        </div>
        <div class="form-group col-sm-5">
          {{ form.date }}
        </div>
        <div class="form-group col-sm-12">
          <label for="subject">Тема листа</label>
          {{ form.subject }}
        </div>
        <div class="form-group col-sm-12">
          <label for="message">Текст листа</label>
          {{ form.body }}
        </div>
        <div class="form-group col-sm-12">
          <label>Режим відправки</label>
          {{ form.send_mode }}
        </div>
        <div class="form-group row col-sm-8">
          <div>
            <button class="btn btn-primary" type="submit">Відправити</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
