{% extends "mainApp/wrapper.html" %}

{% block content %}
  <div class="container col-sm-5">
    <form action="{% url 'mail_create_url' %}" method="post">
      {% csrf_token %}

      <div class="row">
        <div class="form-group col-sm-12 mb-4">
          {% if form.success %}
            <div class="alert alert-success">
              {{ form.success }}
            </div>
          {% endif %}
        </div>
      </div>

      <h3 class="title mb-4">Відправлення e-mail</h3>
      <div class="row">
        <div class="form-group col-sm-7">
          <label>Мій e-mail</label>
          {{ form.sender }}
        </div>
        <div class="form-group col-sm-5">
          <label>Пароль</label>
          {{ form.password }}
        </div>

        <div class="form-group col-sm-12">
          {% if form.own_err %}
            <div class="alert alert-danger">
              {{ form.own_err }}
            </div>
          {% endif %}
        </div>

        <div class="form-group col-sm-7">
          <label>Отримувач</label>
          {{ form.receiver }}
        </div>
        <div class="form-group col-sm-5">
          {{ form.date }}
        </div>
        <div class="form-group col-sm-12">
          <label>Тема листа</label>
          {{ form.subject }}
        </div>
        <div class="form-group col-sm-12">
          <label>Текст листа</label>
          {{ form.body }}
        </div>
        <div class="form-group col-sm-5">
          {{ form.send_mode }}
        </div>
        <div class="form-group col-sm-8">
          <div>
            <button class="btn btn-primary" type="submit">Відправити</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
